body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.modal-backdrop.in {
  opacity: 0.85;
}

td.actions {
  text-align: right;
}

th.number, td.number {
  text-align: right;
}

th.center, td.center {
  text-align: center;
}

