<div class="container">
  <div class="row">

    <% if @users.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>ID du périphérique</th>
            <th>Missions</th>
            <th>Photos</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.device_id %></td>
              <td><%= user.missions.count %></td>
              <td><%= user.user_spot_links.count %></td>

              <td class="actions">
                <%= link_to fa('remove'), admin_user_path(user), :class => 'btn btn-xs btn-danger', :data => { :confirm => "Supprimer cet utilisateur et ses données ?" }, :method => :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
